configuration>
  <system.webServer>
    <handlers>
      <!-- Indicates that the index.js file is a Node.js site to be handled by the iisnode module -->
      <add name="iisnode" path="index.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <!-- Don't interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^index.js\/debug[\/]?" />
        </rule>

        <!-- All other URLs are mapped to the Node.js site entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="index.js"/>
        </rule>
      </rules>
    </rewrite>

    <!-- 
      You may want to uncomment and customize the following settings later.
      For example, loggingEnabled causes iisnode to intercept stdout/stderr output from your node.exe process and write it to a text file.
      <iisnode loggingEnabled="true" devErrorsEnabled="true" watchedFiles="web.config;*.js"/>
    -->

  </system.webServer>
</configuration>
